
*{
    box-sizing: border-box;
}
body{
    background-color: white;
background-image: url(../img/prot_fon.png);
 background-size: cover;
   background-repeat:no-repeat;
  background-attachment: fixed;
    
    
font-family: "Kelly Slab", sans-serif;
  font-weight: 100;
  font-style: normal;
    margin: 0 auto;
}
main{
   width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5% 20%;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.7);
}
h1{
 text-align: center; 
    width: 100%;
    height: 100px;;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 100;
}
h2{
  text-align: center;
    color: #ff3838;
    margin: 5% 0;
    font-size: 28px;
    font-weight: 500;
}
p{
   font-size: 22px;
    color: white;
    text-align: justify;
    font-weight: 100;
}
.p_1{
    padding: 3%;
    background-color: brown;
}
u{
    color: #ff3838;
}

/*--------------*/
     /*MEDIA*/
/*--------------*/
@media (min-width: 800px) and (max-width: 1200px){
    main{
        padding: 10%;
    }
    h1{
        font-size: 24px;
    } 
    h2{
        font-size: 21px;
    }
    p{
        font-size: 18px
    }
    .p_1{
    padding: 5%;
   
}
}
/*--------------*/
@media (min-width: 600px) and (max-width: 800px){
    main{
        padding: 13%;
    }
    h1{
        font-size: 20px;
    } 
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px
    }
    .p_1{
    padding: 5%;
   
}
}
/*--------------*/
@media (min-width: 300px) and (max-width: 600px){
    body{
        
    }
    main{
        padding: 13%;
    }
    h1{
        font-size: 17px;
        height: 70px;
    } 
    h2{
        font-size: 15px;
    }
    p{
        font-size: 14px
    }
    .p_1{
    padding: 5%;
   font-size: 13px;
}
}
/*--------------*/
@media (min-width: 300px) and (max-width: 600px){
    main{
        padding: 13%;
    }
    h1{
        font-size: 17px;
        height: 70px;
    } 
    h2{
        font-size: 15px;
    }
    p{
        font-size: 14px
    }
    .p_1{
    padding: 5%;
   font-size: 13px;
}
}
/*--------------*/
@media (min-width: 200px) and (max-width: 299px){
    main{
        padding: 13%;
    }
    h1{
        font-size: 16px;
        height: 70px;
    } 
    h2{
        font-size: 14px;
    }
    p{
        font-size: 13px
    }
    .p_1{
    padding: 5%;
   font-size: 11px;
}
}
/*--------------*/

/*--------------*/
     /*FOOTER*/
/*--------------*/ 

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    
    padding: 2%;
}
#foot_len{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    
}
#foot_mih{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#foot_len ul{
    padding: 0;
    list-style: none;
    color: gray;
    font-size: 18px;
}

#foot_mih ul{
    padding: 0;
    text-align: end;
    list-style: none;
    color: gray;
    font-size: 18px;
}
footer li{
    margin-top: 7%;
}
footer a{
 color: gray; 
    position: relative;
    cursor: pointer;
    text-decoration: none;   
}
footer a:after{
   content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: grey; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */ 
}
footer a:hover:after{
   	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px; /* Высота линии */
    background-color: #ff3838; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */ 
}
footer li:hover{
    transform: scale(1.1);
}
footer a:hover{
    color: #ff3838;
}
@media (min-width: 600px) and (max-width: 900px){
footer{
    height: 140px;
    padding: 1%;
}
#foot_len{

}
#foot_mih{

}
#foot_len ul{
    font-size: 12px;
}

#foot_mih ul{
   font-size: 12px;
}
footer li{
    font-size: 10px;
}
footer a{

}
}   

/*--------------*/
/*FOOTRD MEDIA*/
/*--------------*/

@media (min-width: 600px) and (max-width: 900px){
  footer{
    
}
#foot_len{

}
#foot_mih{

}
#foot_len ul{
    font-size: 16px;
}

#foot_mih ul{
   font-size: 16px;
}
footer li{
    font-size: 13px;
}
footer a{

}  
}

@media (min-width: 400px) and (max-width: 599px){
footer{
    
}
#foot_len{

}
#foot_mih{

}
#foot_len ul{
    font-size: 16px;
}

#foot_mih ul{
   font-size: 16px;
}
footer li{
    font-size: 13px;
}
footer a{

}
} 

/*--------------*/

@media (min-width: 300px) and (max-width: 400px){
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
#foot_len{
width: 100%;
    padding-left: 2%;
}
#foot_mih{
width: 100%;
    padding-right: 2%;
}
#foot_len ul{
    font-size: 15px;
}

#foot_mih ul{
   font-size: 15px;
}
footer li{
    font-size: 12px;
    
}
footer a{

}
} 

/*--------------*/

@media (min-width: 200px) and (max-width: 300px){
footer{
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}
#foot_len{
width: 100%;
    padding-left: 2%;
}
#foot_mih{
width: 100%;
    padding-right: 2%;
}
#foot_len ul{
    font-size: 11px;
}

#foot_mih ul{
   font-size: 11px;
}
footer li{
    font-size: 10px;
    margin-top: 10%;
}
footer a{

}
} 


/*--------------*/
     /*HEADER*/
/*--------------*/ 



#head{
    width: 66px;
    height: 36px;
    position: fixed;
    top: 40px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2
}

#head:hover{
   transform: scale(1.1);
    transition: all 0.3s;
    color: #ff3838;
}

.head123{
    width: 70%;
    height: 10%;
    background-color: white;
    transition: all 0.5s; 
}
#head_menu{
  width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #111515;
    transition: all 0.5s;
  z-index: 3;
    -webkit-box-shadow: -18px 0px 12px 1px rgba(0, 0, 0, 0.5);
-moz-box-shadow: -18px 0px 12px 1px rgba(0, 0, 0, 0.5);
box-shadow: -18px 0px 12px 1px rgba(0, 0, 0, 0.5);
 
  font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;  
}
#head_menu_zakr{
     width: 66px;
    height: 40px; 
  position: absolute;
    top: 40px;
    right: 60px;  
     transition: all 0.5s;
}
#head_menu_zakr1{
    position: absolute;
    width: 70%;
    height: 10%;
    background-color: white;
    transform: rotate(45deg);
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    position: absolute;
    width: 70%;
    height: 10%;
    background-color: white;
    transform: rotate(-45deg);
    top:22px;
    left: 10px;
}


#head_menu ul{
  margin-top: 40%;
    list-style: none;
}
#head_menu li{
   font-size: 36px;
  margin-top: 5%;
    text-align: center;
}
#head_menu a{
   
    text-decoration: none;
    color: white;
    
}
#head_menu a:hover{
    color: #ff3838;
    transition: all 0.4s;
}

/*---------------*/
  /*MEDIA HEADER*/
/*---------------*/

@media (min-width:1500px) and (max-width: 1700px) {
 #head{
    width: 60px;
    height: 30px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 30%;

}
#head_menu_zakr{
    width: 60px;
    height: 30px;
    top: 30px;
    right: 40px;    
}
#head_menu_zakr1{
    width: 70%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
   
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 34px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:1400px) and (max-width: 1500px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 28%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
    
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 30px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:1300px) and (max-width: 1400px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 26%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
   
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 30px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/


@media (min-width:1100px) and (max-width: 1300px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 26%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 28px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:1000px) and (max-width: 1100px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 32%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    top:20px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    top:20px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 28px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:900px) and (max-width: 1000px) {
 #head{
    width: 46px;
    height: 24px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 36%;

}
#head_menu_zakr{
  width: 46px;
    height: 24px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 26px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:800px) and (max-width: 900px) {
 #head{
    width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 38%;

}
#head_menu_zakr{
width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 26px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:700px) and (max-width: 800px) {
 #head{
    width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 40%;

}
#head_menu_zakr{
width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 24px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:600px) and (max-width: 700px) {
 #head{
    width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 50%;

}
#head_menu_zakr{
width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size:24px;;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:500px) and (max-width: 600px) {
 #head{
    width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width:60%;

}
#head_menu_zakr{
width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 30%;
}
#head_menu li{
   font-size: 22px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:400px) and (max-width: 500px) {
 #head{
    width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 60%;

}
#head_menu_zakr{
width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size: 20px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:300px) and (max-width: 400px) {
 #head{
    width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 70%;

}
#head_menu_zakr{
width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size: 18px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:200px) and (max-width: 300px) {
 #head{
    width: 20px;
    height: 12px;
    top: 10px;
    right: 10px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 80%;

}
#head_menu_zakr{
 width: 20px;
    height: 12px;
    top: 10px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size: 18px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/




















