*{
     box-sizing: border-box;
    
}
body{
    background-color: black;
    margin: 0 auto;
    
-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    
   
}

/*     header*/

header{
    width: 48px;
    height: 30px;
   position: fixed;
    top: 20px;
    right: 2%;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     
}
header:hover{
    #hed1, #hed2, #hed3{
        background-color: blue;
        transition: all 0.6s;
    }
}

#hed1{
  width: 90%;
  height: 5px;
    background-color:#AD00FF;
   
}
#hed2{
   width: 90%;
  height: 5px;
    background-color:#AD00FF; 
   
}
#hed3{
    width: 90%;
  height: 5px;
    background-color:#AD00FF; 
   
}

nav{
    width: 14%;
    height: 97%;
    position: fixed;
    top:20px;
    right: 2%;
    background-color: #21201F;
    border-radius: 10px;
    
}
main{
   width: 76%;
   height: auto;
    margin-top: 20px;
    margin-left: 6%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h1{
    color: white;
    font-size: 2.2em;
width: 70%;
}

h2{
 font-size: 1.1em;
    color: white;
    text-align: center;
  
}

h3{
 width: 40%;
    color: white;
    margin: 0;
    text-align: center;
       
}

p{
  color: white;
    font-size: 1.1em;
     
}
ul{
    color: #AD00FF;
    font-size: 1.6em;
   margin-bottom: 2%;
   
}
li{
    color: white;
    font-size: 0.7em;
    margin-top: 3%;
    ;  
}


      /*div1*/
#div1{
    width: 100%;
    height: 520px; 
    margin-bottom: 2%;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    padding: 2% 3%;
    border-radius: 10px;
}

       /*div2*/
#div2{
    width: 34%;
    height: 500px;
    background-color:#21201F;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    
}

#div21{
 width: 40%;
    height: 240px;
    background-image: url(2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10%;
border: 2px solid #AD00FF;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}
#div22{
  width: 40%;
    height: 240px;
    background-image: url(3.jpg);
    background-size: cover;
    background-position: center; 
     margin-top: 10%;
    border: 2px solid #AD00FF;
    border-radius: 10px; 
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}

button{
  width: 34%;
    height: 50px;
    margin-bottom: 10%;
     border: 1px solid #AD00FF;
    border-radius: 10px;
background-color:#21201F;
    color: white;
    font-size: 1.3em;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
  transition: all 0.5s;  
}
#div2 button:hover{
   cursor: pointer;
    background-color: #8d00d0;
}
   /*div3*/

#div3{
    width: 30%;
    height: 500px;
    background-color:#21201F;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
}
#div3 h2{
    width: 100%;
    font-size: 1.6em;
    margin: 0;
   color: #AD00FF;
}
   /*div4*/
#div4{
    width: 24%;
    height: 500px;
    background-color:#21201F;
    padding: 1%;
    padding-top: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
}
#div41{
    width: 90%;
    height: 50%;
    margin: 30% auto;
   border: 2px solid #AD00FF; 
    padding: 4%;
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}

  /*div5*/

#div5{
    width: 26%;
    height: 400px;
    background-color:#21201F;
    padding: 1%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 2%;
}
#div5 h2{
    font-size: 1.7em;
    color: #AD00FF;
}
#div5 button{
    width: 60%;
    font-size: 1.3em;
    margin-top: 5%;
    transition: all 0.5s;
}
#div5 button:hover{
   cursor: pointer;
    background-color: #8d00d0;
}
  /*div6*/

#div6{
    width: 70%;
    height: 400px;
    background-color:#21201F;
    border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*это оглавление*/
#div6_h2{
  font-size: 2.0em;  
}
#div6 h2{
    width: 100%;
}
.div6_d{
    width: 20%;
    height: 65%;
    border: 2px solid #AD00FF; 
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2%;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}
.div6_d h2{
    color: #bb3aff;
}

       /*div7*/

#div7{
    width: 100%;
    height: 500px;
     background-color:#21201F;
    margin-bottom: 2%;
   display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    border-radius: 10px;
}
#div7 h2{
   width: 100%;
    font-size: 2.0em;
    margin: 0;
}
#div7 ul{
    margin: 0;
    width: 30%;
    font-size: 1.9em;
}
#div7 li{
  
}
#div71{
  width: 16%;
    height: 66%;
    background-image: url(6.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid #AD00FF; 
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}
#div72{
  width: 16%;
    height: 66%;
    background-image: url(5.jpg);
    background-size: cover;
    background-position: center;  
    border: 2px solid #AD00FF; 
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}


































