

#head{
    width: 66px;
    height: 36px;
    position: fixed;
    top: 40px;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2
}

#head:hover{
   transform: scale(1.1);
    transition: all 0.3s;
}

.head123{
    width: 70%;
    height: 10%;
    background-color: white;
    transition: all 0.5s; 
}
#head_menu{
  width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #111515;
    transition: all 0.5s;
  z-index: 3;
    -webkit-box-shadow: -18px 0px 12px 1px rgba(0, 0, 0, 0.5);
-moz-box-shadow: -18px 0px 12px 1px rgba(0, 0, 0, 0.5);
box-shadow: -18px 0px 12px 1px rgba(0, 0, 0, 0.5);
 
  font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;  
}
#head_menu_zakr{
     width: 66px;
    height: 40px; 
  position: absolute;
    top: 40px;
    right: 60px;  
     transition: all 0.5s;
}
#head_menu_zakr1{
    position: absolute;
    width: 70%;
    height: 10%;
    background-color: white;
    transform: rotate(45deg);
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    position: absolute;
    width: 70%;
    height: 10%;
    background-color: white;
    transform: rotate(-45deg);
    top:22px;
    left: 10px;
}


#head_menu ul{
  margin-top: 40%;
    list-style: none;
}
#head_menu li{
   font-size: 36px;
  margin-top: 5%;
    text-align: center;
}
#head_menu a{
   
    text-decoration: none;
    color: white;
    
}
#head_menu a:hover{
    color: #AD00FF;
    transition: all 0.5s;
}






       /*MEDIA*/


@media (min-width:1500px) and (max-width: 1700px) {
 #head{
    width: 60px;
    height: 30px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 30%;

}
#head_menu_zakr{
    width: 60px;
    height: 30px;
    top: 30px;
    right: 40px;    
}
#head_menu_zakr1{
    width: 70%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
   
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 34px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:1400px) and (max-width: 1500px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 28%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
    
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 30px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:1300px) and (max-width: 1400px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 26%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
   
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 30px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/


@media (min-width:1100px) and (max-width: 1300px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 26%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    
    top:22px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    
    top:22px;
    left: 10px;
}

#head_menu ul{
  margin-top: 40%;
}
#head_menu li{
   font-size: 28px;
  margin-top: 8%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:1000px) and (max-width: 1100px) {
 #head{
    width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 32%;

}
#head_menu_zakr{
   width: 54px;
    height: 28px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    top:20px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    top:20px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 28px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:900px) and (max-width: 1000px) {
 #head{
    width: 46px;
    height: 24px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 36%;

}
#head_menu_zakr{
  width: 46px;
    height: 24px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 26px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:800px) and (max-width: 900px) {
 #head{
    width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 38%;

}
#head_menu_zakr{
width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 70%;
    height: 12%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 26px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:700px) and (max-width: 800px) {
 #head{
    width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 40%;

}
#head_menu_zakr{
width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 46%;
}
#head_menu li{
   font-size: 24px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:600px) and (max-width: 700px) {
 #head{
    width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 50%;

}
#head_menu_zakr{
width: 44px;
    height: 23px;
    top: 30px;
    right: 40px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size:24px;;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:500px) and (max-width: 600px) {
 #head{
    width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width:60%;

}
#head_menu_zakr{
width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 30%;
}
#head_menu li{
   font-size: 22px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:400px) and (max-width: 500px) {
 #head{
    width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 60%;

}
#head_menu_zakr{
width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size: 20px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:300px) and (max-width: 400px) {
 #head{
    width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 70%;

}
#head_menu_zakr{
width: 30px;
    height: 20px;
    top: 20px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size: 18px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/

@media (min-width:200px) and (max-width: 300px) {
 #head{
    width: 20px;
    height: 12px;
    top: 10px;
    right: 10px;
   
}
.head123{
    width: 70%;
    height: 10%;
}
#head_menu{
  width: 80%;

}
#head_menu_zakr{
 width: 20px;
    height: 12px;
    top: 10px;
    right: 20px;   
}
#head_menu_zakr1{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}
#head_menu_zakr2{
    width: 60%;
    height: 10%;
    top:14px;
    left: 10px;
}

#head_menu ul{
    padding: 0;
  margin-top: 50%;
}
#head_menu li{
   font-size: 18px;
  margin-top: 10%;
}
#head_menu a{  
    
}
}

/*---------------*/








