*{
     box-sizing: border-box;
    
}
/*
@media (min-width: 600px) and (max-width: 900px){

}
*/

body{
    background-color: black;
    margin: 0 auto;

}


/*     header*/



/* ------------------*/

main{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}
#div_h1{
   width: 100%;
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 100px;
}
h1{
    color: white;
    font-size: 42px;
    text-align: center;
    
     font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2{
    font-size: 16px
}
#div_staty{
    width: 80%;
    height: auto;
    padding-left: 200px;
    padding-right: 200px;
    
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
   
    
}
.staty{
    width: 21%;
    height: 360px;
    background-color: white;
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 0.3s;
}

.staty:hover{
   transform: scale(1.05); 
    cursor: pointer;
    
    -webkit-box-shadow: 0px 0px 17px 0px rgba(255,  255,  255, 0.71);
-moz-box-shadow: 0px 0px 17px 0px rgba(255,  255,  255, 0.71);
box-shadow: 0px 0px 17px 0px rgba(255,  255,  255, 0.71);
}

.staty h2{
    text-align: center;
    width: 100%;
    
font-family: "Kelly Slab", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.staty p{
    text-align: center;
    width: 100%;
    
    font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#s1 h2{
    
}
#s1 p{
  margin-bottom: 15%;  
}

#s1 div{
   width: 100%;
    height: 60%;
    background-image: url(img/zdorovoe-pitanie.jpg);
    background-size: cover;
    
}
#s2 div{
  width: 100%;
    height: 60%;
    background-image: url(img/4_glav1.jpg);
    background-size: cover;  
}
#s3 div{
  width: 100%;
    height: 60%;
    background-image: url(img/prot_fon.png);
    background-size: cover;  
}
#s4 div{
     width: 100%;
    height: 60%;
    background-image: url(img/pro_staty.webp);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}



      /*FOOter*/

footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    padding: 2%;
    
    font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
   
}
#foot_len{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 1%;
}
#foot_mih{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
}
#foot_len ul{
    padding: 0;
    list-style: none;
    color: gray;
    font-size: 18px;
}

#foot_mih ul{
    padding: 0;
    text-align: end;
    list-style: none;
    color: gray;
    font-size: 18px;
   
}
footer li{
    margin-top: 7%;
    transition: all 0.3s;
}
footer a{
 color: gray; 
    position: relative;
    cursor: pointer;
    text-decoration: none; 
    
}
footer a:after{
   content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: grey; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */ 
}
footer a:hover:after{
   	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px; /* Высота линии */
    background-color: #AD00FF; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */ 
}
footer li:hover{
    transform: scale(1.1);
}
footer a:hover{
    color: #AD00FF;
}


/*        MEDIA    */

@media (min-width: 1700px) and (max-width: 1800px){
.staty{
    width: 21%;
    height: 330px;
/*
    margin-top: 2%;
    margin-bottom: 3%;
*/  
       
}
 #s1 h2{
   font-size: 20px;

}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}      
}

/*-----------------*/

@media (min-width: 1600px) and (max-width: 1699px){
.staty{
    width: 21%;
    height: 320px;
/*
    margin-top: 2%;
    margin-bottom: 3%;
*/  
       
}
 #s1 h2{
   font-size: 20px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}      
}

/*-----------------*/

@media (min-width: 1500px) and (max-width: 1599px){
 #s1 div{
   width: 100%;
    height: 58%;
}   
    
.staty{
    width: 21%;
    height: 280px;
/*
    margin-top: 2%;
    margin-bottom: 3%;
*/  
       
}
 #s1 h2{
   font-size: 18px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}      
}

/*-----------------*/
@media (min-width: 1400px) and (max-width: 1499px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
    
.staty{
    width: 21%;
    height: 260px;
/*
    margin-top: 2%;
    margin-bottom: 3%;
*/  
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}      
}

/*-----------------*/

@media (min-width: 1300px) and (max-width: 1399px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
    
.staty{
    width: 31%;
    height: 260px;
/*
    margin-top: 2%;
    margin-bottom: 3%;
*/  
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}      
}

/*-----------------*/

@media (min-width: 1200px) and (max-width: 1299px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
    
.staty{
    width: 31%;
    height: 260px;   
}
    
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}      
}

/*-----------------*/

@media (min-width: 1100px) and (max-width: 1199px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
    
.staty{
    width: 45%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%; 
}  
  #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
} 
}

/*-----------------*/

@media (min-width: 1000px) and (max-width: 1099px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
    
.staty{
    width: 45%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
} 
   #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}    
}

/*-----------------*/

@media (min-width: 900px) and (max-width: 999px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 120px;
    padding-right: 120px;  
}   
.staty{
    width: 44%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
} 
   #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}    
}

/*-----------------*/

@media (min-width: 800px) and (max-width: 899px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 120px;
    padding-right: 120px;

}   
.staty{
    width: 44%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
} 
  #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}     
}

/*-----------------*/

@media (min-width: 700px) and (max-width: 799px){
    h1{
        font-size:36px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
 
}   
.staty{
    width: 46%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}
      #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
} 
}

/*-----------------*/

@media (min-width: 600px) and (max-width: 699px){
    h1{
        font-size:28px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 50px;
    padding-right: 50px;
 
}   
.staty{
    width: 46%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
} 
   #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}    
}

/*-----------------*/

@media (min-width: 500px) and (max-width: 599px){
    h1{
        font-size:28px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
 
}   
.staty{
    width: 46%;
    height: 260px;
/*    margin-top: 2%;*/
    margin-bottom: 6%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 15px;
    margin-left: 5%;
    margin-right: 5%;
}  
   #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
} 
}

/*-----------------*/

@media (min-width: 400px) and (max-width: 499px){
  #div_h1{
   width: 100%;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}  
    
    h1{
        font-size:28px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
 
}   
.staty{
    width: 46%;
    height: 240px;
/*    margin-top: 2%;*/
    margin-bottom: 10%;
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 13px;
    margin-left: 5%;
    margin-right: 5%;
}
  #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}  
}

/*-----------------*/

@media (min-width: 300px) and (max-width: 399px){
    main{
        margin-bottom: 30%
    }
  #div_h1{
   width: 100%;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}  
    
 h1{
        font-size:28px; 
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;

}   
.staty{
    width: 90%;
    height: 240px;
     margin: 12% auto;
/*    margin-top: 2%;*/
/*    margin-bottom: 10%;*/
       
}
 #s1 h2{
   font-size: 18px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 13px;
    margin-left: 5%;
    margin-right: 5%;
}
  #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}     
}

/*-----------------*/

@media (min-width: 200px) and (max-width: 299px){
    main{
        margin-bottom: 30%
    }
  #div_h1{
   width: 100%;
    height: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
}  
    
 h1{
        font-size:22px;
     padding-left: 2%;
     padding-right: 2%;
    }
 #s1 div{
   width: 100%;
    height: 58%;
}   
 #div_staty{
    width: 80%;
    height: auto;
    padding-left: 0px;
    padding-right: 0px;

}   
.staty{
    width: 90%;
    height: 200px;
     margin: 12% auto;
/*    margin-top: 2%;*/
/*    margin-bottom: 10%;*/
       
}
 #s1 h2{
   font-size: 16px;
margin-top: 5%;
     margin-bottom: 0;
}
#s1 p{
  font-size: 10px;
    margin-left: 5%;
    margin-right: 5%;
}  
   #s1 div{
    background-image: url(img/staty/zdorov_pit_min.png);
    background-size: cover;  
}  
    #s2 div{
    background-image: url(img/staty/4_glav1_min.png);
    background-size: cover;  
}  
     #s3 div{
    background-image: url(img/staty/prot_fon_min.png);
    background-size: cover;  
} 
     #s4 div{
    background-image: url(img/staty/pro_staty_min.png);
    background-size: cover;  
}    
}

/*-----------------*/

























