@media (min-width:1500px) and (max-width: 1600px) {
    #div3{
        padding: 1%;
    }  
}

/*---------------*/

@media (min-width:1400px) and (max-width: 1500px) {
    
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:1300px) and (max-width: 1400px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}

/*---------------*/

@media (min-width:1200px) and (max-width: 1300px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}

/*---------------*/

@media (min-width:1100px) and (max-width: 1200px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:1000px) and (max-width: 1100px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
        font-size: 0.9em;
    } 
   #div4{
        width: 28%;
    }  
    #div6{
        width: 73%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:900px) and (max-width: 1000px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
        font-size: 0.9em;
    } 
   #div4{
        width: 28%;
    }  
    #div5 h2{
       font-size: 1.4em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
        
    } 
    #div6{
        width: 73%;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
    #div71{
        width: 26%;
    }   
   #div72{
        width: 26%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:800px) and (max-width: 900px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 48%;   
    }
    #div3{
        width: 48%;
        padding: 1%;
        font-size: 0.9em;
    } 
   #div4{
        width: 48%;
       height: 400px;
    }  
    #div41{
       height: 60%;
        margin: 15% auto;
    }
    #div5{
        width: 48%;
      padding: 2%;
    } 
    #div5 h2{
       font-size: 1.4em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
        
    } 
    #div6{
        width: 100%;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
    #div71{
        width: 26%;
    }   
   #div72{
        width: 26%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:700px) and (max-width: 800px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    
   #div2{
     width: 48%;   
    }
    #div21{
     height: 40%;
        margin-top: 20%;
    }
    #div22{
     height: 40%; 
     margin-top: 20%;   
    }
    
    #div3{
        width: 48%;
        padding: 1%;
        font-size: 0.9em;
    } 
    #div3 h2{
        margin-top: 10%;
    } 
    
   #div4{
        width: 48%;
       height: 400px;
    }  
    #div41{
       height: 60%;
        margin: 15% auto;
    }
    
    #div5{
        width: 48%;
      padding: 2%;
    } 
    #div5 h2{
       font-size: 1.4em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
    } 
    
    #div6{
        width: 100%;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
  #div7 h2{
     width: 96%;  
    }    
    #div71{
        width: 26%;
         height: 60%;
    }  
   #div72{
        width: 26%;
       height: 60%;
    } 
    #div7 li{
        font-size: 0.5em;
    }
}
/*---------------*/



      /*HEADER*/
@media (min-width:1600px) and (max-width: 1920px) {
   
}












