@media (min-width: 600px) and (max-width: 900px){
  footer{
    
}
#foot_len{

}
#foot_mih{

}
#foot_len ul{
    font-size: 16px;
}

#foot_mih ul{
   font-size: 16px;
}
footer li{
    font-size: 13px;
}
footer a{

}  
}

/*--------------*/

@media (min-width: 400px) and (max-width: 600px){
footer{
    height: 120px;
    padding: 1%;
}
#foot_len{

}
#foot_mih{

}
#foot_len ul{
    font-size: 15px;
}

#foot_mih ul{
   font-size: 15px;
}
footer li{
    font-size: 12px;
}
footer a{

}
} 

/*--------------*/

@media (min-width: 300px) and (max-width: 400px){
footer{
    height: 160px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
#foot_len{
width: 100%;
    padding-left: 2%;
}
#foot_mih{
width: 100%;
    padding-right: 2%;
}
#foot_len ul{
    font-size: 11px;
}

#foot_mih ul{
   font-size: 11px;
}
footer li{
    font-size: 10px;
    margin-top: 10%;
}
footer a{

}
} 

/*--------------*/

@media (min-width: 200px) and (max-width: 300px){
footer{
    height: 160px;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
#foot_len{
width: 100%;
    padding-left: 2%;
}
#foot_mih{
width: 100%;
    padding-right: 2%;
}
#foot_len ul{
    font-size: 11px;
}

#foot_mih ul{
   font-size: 11px;
}
footer li{
    font-size: 10px;
    margin-top: 10%;
}
footer a{

}
} 






