@media (min-width:1500px) and (max-width: 1600px) {
    #div3{
        padding: 1%;
    }  
}

/*---------------*/

@media (min-width:1400px) and (max-width: 1500px) {
    
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:1300px) and (max-width: 1400px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}

/*---------------*/

@media (min-width:1200px) and (max-width: 1300px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}

/*---------------*/

@media (min-width:1100px) and (max-width: 1200px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
    } 
   #div4{
        width: 28%;
    }  
    .div6_d p{
        font-size: 0.9em;
    }
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:1000px) and (max-width: 1100px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
        font-size: 0.9em;
    } 
   #div4{
        width: 28%;
    }  
    #div6{
        width: 73%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
    #div71{
        width: 20%;
    }   
   #div72{
        width: 20%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:900px) and (max-width: 1000px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 38%;   
    }
    #div3{
        padding: 1%;
        font-size: 0.9em;
    } 
   #div4{
        width: 28%;
       padding: 2%;
    }  
   #div4 h2{
       font-size: 1.0em; 
        
    } 
    #div5 h2{
       font-size: 1.4em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
        
    } 
    #div6{
        width: 73%;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
    #div71{
        width: 26%;
    }   
   #div72{
        width: 26%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:800px) and (max-width: 900px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
   #div2{
     width: 48%;   
    }
    #div3{
        width: 48%;
        padding: 1%;
        font-size: 0.9em;
    } 
   #div4{
        width: 48%;
       height: 400px;
    }  
    #div41{
       height: 60%;
        margin: 15% auto;
    }
    #div5{
        width: 48%;
      padding: 2%;
    } 
    #div5 h2{
       font-size: 1.4em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
        
    } 
    #div6{
        width: 100%;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
    #div71{
        width: 26%;
    }   
   #div72{
        width: 26%;
    } 
    #div7 li{
        font-size: 0.62em;
    }
}
/*---------------*/

@media (min-width:700px) and (max-width: 800px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    
   #div2{
     width: 48%;   
    }
    #div21{
     height: 40%;
        margin-top: 20%;
    }
    #div22{
     height: 40%; 
     margin-top: 20%;   
    }
    
    #div3{
        width: 48%;
        padding: 1%;
        font-size: 0.9em;
    } 
    #div3 h2{
        margin-top: 10%;
    } 
    
   #div4{
        width: 48%;
       height: 400px;
    }  
    #div41{
       height: 60%;
        margin: 15% auto;
    }
    
    #div5{
        width: 48%;
      padding: 2%;
    } 
    #div5 h2{
       font-size: 1.4em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
    } 
    
    #div6{
        width: 100%;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.9em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
  #div7 h2{
     width: 96%;  
    }    
    #div71{
        width: 26%;
         height: 60%;
    }  
   #div72{
        width: 26%;
       height: 60%;
    } 
    #div7 li{
        font-size: 0.5em;
    }
}

/*---------------*/

@media (min-width: 600px) and (max-width: 700px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    
   #div2{
     width: 48%;   
    }
    #div21{
     height: 40%;
        margin-top: 20%;
    }
    #div22{
     height: 40%; 
     margin-top: 20%;   
    }
    #div2 button{
      font-size: 1.1em;  
    }
    
    #div3{
        width: 48%;
        padding: 1%;
        font-size: 0.9em;
    } 
    #div3 h2{
        margin-top: 10%;
    } 
    #div3 ul{
        font-size: 1.4em;
    }
    
   #div4{
        width: 48%;
       height: 400px;
    }  
    #div4 h2{
        font-size: 1.2em;
    }
    #div41{
       height: 60%;
        margin: 15% auto;
    }
    
    #div5{
        width: 48%;
      padding: 2%;
    } 
    #div5 h2{
       font-size: 1.5em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
    } 
    
    #div6{
        width: 100%;
    }
    #div6_h2{
        font-size: 1.5em;
    }
    .div6_d{
        width: 22%;
    }
    .div6_d p{
        font-size: 0.8em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
  #div7 h2{
     width: 96%;  
    }    
    #div71{
        width: 26%;
         height: 60%;
    }  
   #div72{
        width: 26%;
       height: 60%;
    } 
    #div7 li{
        font-size: 0.43em;
    }
}

/*---------------*/

@media (min-width: 500px) and (max-width: 600px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    #div1{
        margin-bottom: 5%;
    } 
   #div2{
     width: 100%; 
    margin-bottom: 5%; 
    }
    
    #div2 h3{
    font-size: 1.4em;
    } 
    
    #div21{
     height: 50%;
        margin-top: 10%;
    }
    #div22{
     height: 50%; 
     margin-top: 10%;   
    }
    #div2 button{
      font-size: 1.1em;  
    }
    
    #div3{
        width: 100%;
        padding: 2%;
        font-size: 0.9em;
        margin-bottom: 5%;
    } 
    #div3 h2{
        margin-top: 10%;
        font-size: 1.9em
    } 
    #div3 ul{
        font-size: 1.6em;
    }
    
   #div4{
        width: 100%;
       height: 400px;
       margin-bottom: 5%;
    }  
    #div4 h2{
        font-size: 1.2em;
    }
    #div41{
        width: 70%;
       height: 60%;
        margin: 12% auto;
    }
    
    #div5{
        width: 100%;
      padding: 2%;
      margin-bottom: 5%;  
    } 
    #div5 h2{
       font-size: 1.7em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.7em; 
    } 
    
    #div6{
        width: 100%;
        height: 600px;
        padding: 2%;
        margin-bottom: 5%;
        display: flex;
    }
    #div6_h2{
        font-size: 1.5em;
    }
    .div6_d{
        width: 43%;
        height: 30%;
    }
    .div6_d p{
        font-size: 0.8em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
  #div7{
     display: flex; 
      height: 630px;
      justify-content: space-around;
      margin-bottom: 5%;
    }    
  #div7 h2{
     width: 96%;  
    }    
    #div71{
        width: 30%;
         height: 30%;
    }  
   #div72{
        width: 30%;
       height: 30%;
    } 
    
 #div7 ul{
width: 90%;  
    }  
    
#div7 li{
font-size: 0.48em;       
    }
}

/*---------------*/

@media (min-width: 400px) and (max-width: 500px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    #div1{
        margin-bottom: 5%;
        font-size: 0.8em;
    } 
   #div2{
     width: 100%; 
    margin-bottom: 5%; 
    }
    
    #div2 h3{
    font-size: 1.4em;
    } 
    
    #div21{
     height: 50%;
        margin-top: 10%;
    }
    #div22{
     height: 50%; 
     margin-top: 10%;   
    }
    #div2 button{
      font-size: 1.1em;  
    }
    
    #div3{
        width: 100%;
        padding: 2%;
        font-size: 0.9em;
        margin-bottom: 5%;
    } 
    #div3 h2{
        margin-top: 10%;
        font-size: 1.9em
    } 
    #div3 ul{
        font-size: 1.6em;
    }
    
   #div4{
        width: 100%;
       height: 400px;
       margin-bottom: 5%;
    }  
    #div4 h2{
        font-size: 1.1em;
    }
    #div41{
        width: 70%;
       height: 60%;
        margin: 12% auto;
    }
    
    #div5{
        width: 100%;
      padding: 2%;
      margin-bottom: 5%;  
    } 
    #div5 h2{
       font-size: 1.7em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.7em; 
    } 
    #div5 button{
        margin-bottom: 3%;
    }
    
    #div6{
        width: 100%;
        height: 600px;
        padding: 2%;
        margin-bottom: 5%;
        display: flex;
    }
    #div6_h2{
        font-size: 1.5em;
    }
    .div6_d{
        width: 43%;
        height: 30%;
    }
    .div6_d p{
        font-size: 0.8em;
    }
    .div6_d h2{
   font-size: 1.0em;
}
  #div7{
     display: flex; 
      height: 630px;
      justify-content: space-around;
      margin-bottom: 5%;
    }    
  #div7 h2{
     width: 96%; 
      font-size: 1.5em
    }    
    #div71{
        width: 30%;
         height: 30%;
    }  
   #div72{
        width: 30%;
       height: 30%;
    } 
    
 #div7 ul{
width: 90%; 
     font-size: 1.5em;
    }  
    
#div7 li{
font-size: 0.7em;       
    }
}

/*---------------*/

@media (min-width: 300px) and (max-width: 400px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    #div1{
        margin-bottom: 5%;
        font-size: 0.5em;
        height: 360px;
    } 
   #div2{
     width: 100%; 
       height: 320px;
    margin-bottom: 5%; 
    }
    
    #div2 h3{
    font-size: 1.1em;
    } 
    
    #div21{
     height: 40%;
        margin-top: 10%;
    }
    #div22{
     height: 40%; 
     margin-top: 10%;   
    }
    #div2 button{
      font-size: 1.0em; 
        height: 40px;
    }
    
    #div3{
        width: 100%;
        height: 370px;
        padding: 3%;
        font-size: 0.9em;
        margin-bottom: 5%;
    } 
    #div3 h2{
        margin-top: 10%;
        font-size: 1.3em
    } 
    #div3 ul{
        font-size: 1.3em;
    }
    
   #div4{
        width: 100%;
       height: 360px;
       margin-bottom: 5%;
    }  
    #div4 h2{
        font-size: 0.8em;
        margin-top: 5%;
    }
    #div41{
        width: 70%;
       height: 60%;
        margin: 12% auto;
        font-size: 0.8em;
    }
    
    #div5{
        width: 100%;
      padding: 2%;
      margin-bottom: 5%;  
    } 
    #div5 h2{
       font-size: 1.2em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.4em; 
    } 
    #div5 button{
        margin-bottom: 3%;
        width: 50%;
        height: 40px;
        font-size: 1.1em;
    }
    
    #div6{
        width: 100%;
        height: 500px;
        padding: 2%;
        margin-bottom: 5%;
        display: flex;
    }
    #div6_h2{
        font-size: 1.2em;
    }
    .div6_d{
        width: 43%;
        height: 30%;
    }
    .div6_d p{
        font-size: 0.7em;
    }
    .div6_d h2{
   font-size: 0.9em;
}
    
  #div7{
     display: flex; 
      height: 630px;
      justify-content: space-around;
      margin-bottom: 5%;
    }    
  #div7 h2{
     width: 96%; 
      font-size: 1.3em
    }    
    #div71{
        width: 40%;
         height: 30%;
    }  
   #div72{
        width: 40%;
       height: 30%;
    } 
    
 #div7 ul{
width: 90%; 
     font-size: 1.3em;
    }  
    
#div7 li{
font-size: 0.7em;       
    }
}

/*---------------*/

@media (min-width: 200px) and (max-width: 299px) {
    
    nav{
        display: none;
    }
    main{
        width: 94%;
       float: none;
        margin: 2% auto;
    }
    #div1{
        margin-bottom: 5%;
        font-size: 0.4em;
        height: 300px;
    } 
   #div2{
     width: 100%; 
       height: 300px;
    margin-bottom: 5%; 
    }
    
    #div2 h3{
    font-size: 0.9em;
        height: 40px;
    } 
    
    #div21{
     height: 44%;
        margin-top: 10%;
    }
    #div22{
     height: 44%; 
     margin-top: 10%;   
    }
    #div2 button{
      font-size: 0.7em; 
        height: 30px;
    }
    
    #div3{
        width: 100%;
        height: 280px;
        padding: 3%;
        font-size: 0.9em;
        margin-bottom: 5%;
    } 
    #div3 h2{
        margin-top: 10%;
        font-size: 1.0em
    } 
    #div3 ul{
        font-size: 1.0em;
        padding: 10%
    }
    
   #div4{
        width: 100%;
       height: 280px;
       margin-bottom: 5%;
       padding: 5%;
    }  
    #div4 h2{
        font-size: 0.6em;
        margin-top: 5%;
    }
    #div41{
        width: 70%;
       height: 60%;
        margin: 12% auto;
        font-size: 0.64em;
    }
    
    #div5{
        width: 100%;
        height: 280px;
      padding: 2%;
      margin-bottom: 5%; 
    } 
    #div5 h2{
       font-size: 1.1em; 
        width: 94%;
    }
    #div5 ul{
       font-size: 1.1em; 
    } 
    #div5 button{
        margin-bottom: 5%;
        width: 50%;
        height: 30px;
        font-size: 0.9em;
    }
    
    #div6{
        width: 100%;
        height: 430px;
        padding: 2%;
        margin-bottom: 5%;
        display: flex;
    }
    #div6_h2{
        font-size: 1.0em;
        margin: 0;
    }
    .div6_d{
        width: 44%;
        height: 26%;
    }
    .div6_d p{
        font-size: 0.5em;
    }
    .div6_d h2{
   font-size: 0.7em;
}
    
  #div7{
     display: flex; 
      height: 420px;
      justify-content: space-around;
      margin-bottom: 5%;
    }    
  #div7 h2{
     width: 96%; 
      font-size: 1.0em
    }    
    #div71{
        width: 40%;
         height: 26%;
    }  
   #div72{
        width: 40%;
       height: 26%;
    } 
    
 #div7 ul{
width: 90%; 
     font-size: 1.0em;
     padding: 7%;
    }  
    
#div7 li{
font-size: 0.7em;       
    }
}

/*---------------*/




      /*HEADER*/

@media (min-width:1300px) and (max-width: 1400px) {
  header{
    width: 50px;
    height: 30px;
   position: fixed;
    top: 30px;
    right: 3%;
    border-radius: 10px;   
}

#hed1{
  width: 90%;
 background-color:#AD00FF;
   
}
#hed2{
   width: 90%;
    background-color:#AD00FF; 
   
}
#hed3{
    width: 90%;
    background-color:#AD00FF; 
   
} 
}
/*---------------*/

@media (min-width:1200px) and (max-width: 1300px) {
  header{
    width: 50px;
    height: 30px;
   position: fixed;
    top: 30px;
    right: 3%;
    border-radius: 10px;   
}

#hed1{
  width: 80%;

 background-color:#AD00FF;
   
}
#hed2{
   width: 80%;
  
    background-color:#AD00FF; 
   
}
#hed3{
    width: 80%;
 
    background-color:#AD00FF; 
   
} 
}
/*---------------*/

@media (min-width:1100px) and (max-width: 1200px) {
  header{
    width: 50px;
    height: 30px;
    top: 26px;
    right: 3%;
    border-radius: 10px;  
}

#hed1{
  width: 80%;
  height: 4px; 
}
#hed2{
   width: 80%;
  height: 4px;
}
#hed3{
    width: 80%;
  height: 4px;
} 
}
/*---------------*/

@media (min-width:1000px) and (max-width: 1100px) {
  header{
    width: 50px;
    height: 30px;
    top: 26px;
    right: 3%;
    border-radius: 10px;  
}

#hed1{
  width: 80%;
  height: 4px; 
}
#hed2{
   width: 80%;
  height: 4px;
}
#hed3{
    width: 80%;
  height: 4px;
} 
}
/*---------------*/

@media (min-width:900px) and (max-width: 1000px) {
  header{
    width: 50px;
    height: 30px;
    top: 26px;
    right: 3%;
    border-radius: 10px;  
}

#hed1{
  width: 80%;
  height: 3px; 
}
#hed2{
   width: 80%;
  height: 3px;
}
#hed3{
    width: 80%;
  height: 3px;
} 
}
/*---------------*/

@media (min-width:800px) and (max-width: 900px) {
  header{
    width: 45px;
    height: 25px;
    top: 20px;
    right: 3%;
    border-radius: 10px;  
}

#hed1{
  width: 80%;
  height: 3px; 
}
#hed2{
   width: 80%;
  height: 3px;
}
#hed3{
    width: 80%;
  height: 3px;
} 
}
/*---------------*/

@media (min-width:700px) and (max-width: 800px) {
  header{
    width: 46px;
    height: 26px;
    top: 22px;
    right: 3%;
    border-radius: 10px; 
}

#hed1{
  width: 80%;
  height: 3px; 
}
#hed2{
   width: 80%;
  height: 3px;
}
#hed3{
    width: 80%;
  height: 3px;
} 
}
/*---------------*/

@media (min-width: 600px) and (max-width: 700px) {
  header{
    width: 46px;
    height: 26px;
    top: 20px;
    right: 3%;
    border-radius: 10px; 
}

#hed1{
  width: 80%;
  height: 3px; 
}
#hed2{
   width: 80%;
  height: 3px;
}
#hed3{
    width: 80%;
  height: 3px;
} 
}
/*---------------*/

@media (min-width: 500px) and (max-width: 600px) {
  header{
    width: 46px;
    height: 26px;
    top: 20px;
    right: 3%;
    border-radius: 10px; 
}

#hed1{
  width: 80%;
  height: 3px; 
}
#hed2{
   width: 80%;
  height: 3px;
}
#hed3{
    width: 80%;
  height: 3px;
} 
}
/*---------------*/

@media (min-width: 400px) and (max-width: 500px) {
  header{
    width: 46px;
    height: 26px;
    top: 20px;
    right: 3%;
    border-radius: 10px; 
}

#hed1{
  width: 80%;
  height: 3px; 
}
#hed2{
   width: 80%;
  height: 3px;
}
#hed3{
    width: 80%;
  height: 3px;
} 
}
/*---------------*/

@media (min-width: 300px) and (max-width: 400px) {
  header{
    width: 40px;
    height: 22px;
    top: 20px;
    right: 3%;
    border-radius: 10px; 
}

#hed1{
  width: 80%;
  height: 2px; 
}
#hed2{
   width: 80%;
  height: 2px;
}
#hed3{
    width: 80%;
  height: 2px;
} 
}
/*---------------*/

@media (min-width: 200px) and (max-width: 300px) {
  header{
    width: 30px;
    height: 18px;
    top: 20px;
    right: 3%;
    border-radius: 10px; 
}

#hed1{
  width: 80%;
  height: 2px; 
}
#hed2{
   width: 80%;
  height: 2px;
}
#hed3{
    width: 80%;
  height: 2px;
} 
}
/*---------------*/





