*{
     box-sizing: border-box;
    
}
body{
    background-color: black;
    margin: 0 auto;
-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
text-shadow: 1px 1px 0px rgba(0, 0, 0, 1); 
}


/*     header*/



/* ------------------*/

nav{
    width: 14%;
    height: 97%;
    position: fixed;
    top:20px;
    right: 2%;
    background-color: #21201F;
    border-radius: 10px;
    
}
main{
   width: 76%;
   height: auto;
    margin-top: 20px;
    margin-left: 6%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*класс шрифта*/



h1{
    color: white;
    font-size: 42px;
    width: 70%;
    
   font-family: "Kelly Slab", sans-serif;
  font-weight: 700;
  font-style: normal;
  

}
h1 span{
   font-size: 42px;
    width: 100%;
    color: #AD00FF;
    
}
h2{
 font-size: 24px;
    color: white;
    text-align: center;
  
    font-family: "Kelly Slab", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3{
 width: 40%;
    color: white;
    margin: 0;
    text-align: center;
    
    font-size: 24px;
    font-family: "Kelly Slab", sans-serif;
  font-weight: 500;
  font-style: normal;
}

p{
  color: white;
    font-size: 19px;
     font-family: "Kelly Slab", sans-serif;
  font-weight: 200;
  font-style: normal; 
}
ul{
    color: #AD00FF;
    font-size: 26px;
   margin-bottom: 2%;
    
    font-family: "Kelly Slab", sans-serif;
  font-weight: 200;
  font-style: normal;
}
li{
    color: white;
    font-size: 18px;
    margin-top: 3%;
    ;  
}


      /*div1*/
#div1{
    width: 100%;
    height: 520px; 
    margin-bottom: 2%;
    background-image: url(img/1_1.jpg);
    background-size: cover;
    background-position: center;
    padding: 2% 3%;
    border-radius: 10px;
   transition: all 1s;
}


       /*div2*/
#div2{
    width: 34%;
    height: 500px;
    background-color:#21201F;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    
}

#div21{
 width: 40%;
    height: 240px;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10%;
border: 2px solid #AD00FF;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
}
#div21:hover{
    transform: scale(1.05);
    transition: all 0.4s;
    
      -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56); 
    
}
#div22{
  width: 40%;
    height: 240px;
    background-image: url(img/3.jpg);
    background-size: cover;
    background-position: center; 
     margin-top: 10%;
    border: 2px solid #AD00FF;
    border-radius: 10px; 
    cursor: pointer;
    transition: all 0.4s;
}
#div22:hover{
    transform: scale(1.05);
    transition: all 0.4s;
    
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56); 
}

button{
  width: 34%;
    height: 50px;
    margin-bottom: 10%;
     border: 1px solid #AD00FF;
    border-radius: 10px;
background-color:#21201F;
    color: white;
    font-size: 1.3em;
  transition: all 0.4s;  
    
    font-family: "Kelly Slab", sans-serif;
  font-weight: 500;
  font-style: normal; 
}
button:hover{
   -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);  
}

#div2 button:hover{
   cursor: pointer;
/*    background-color: #8d00d0;*/
}

     /*div3*/

#div3{
    width: 30%;
    height: 500px;
    background-color:#21201F;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
}
#div3 h2{
    width: 100%;
    margin: 0;
   color: #AD00FF;
}

     /*div4*/

#div4{
    width: 28%;
    height: 500px;
    background-color:#21201F;
    padding: 1%;
    padding-top: 2%;
    border-radius: 10px;
    margin-bottom: 2%; 
   
}




#div41 h2,#div42 h2,#div43 h2,#div44 h2,#div45 h2,#div46 h2,#div47 h2{
   color: #AD00FF;
}



.div4123{
        width: 70%;
    height: 60%;
    margin: 10% auto 5% auto;
   border: 2px solid #AD00FF; 
    padding: 4%;
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
    
  display: none;
  flex-wrap: wrap;
   
}
.div4123:hover{
    cursor: pointer;
}

#div_kn{
    
    width: 70%;
    margin: 0 auto;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.kn{
    width: 10px;
    height: 10px;
    background-color: #958585;
}
#kn41{
  background-color: #AD00FF;  
} 

  /*div5*/

#div5{
    width: 26%;
    height: 400px;
    background-color:#21201F;
    padding: 1%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    margin-bottom: 2%;
}
#div5 h2{
    color: #AD00FF;
}
#div5 button{
    width: 60%;
    font-size: 1.3em;
    margin-top: 5%;
    transition: all 0.5s;
}
#div5 button:hover{
   cursor: pointer;
   
}
  /*div6*/

#div6{
    width: 70%;
    height: 400px;
    background-color:#21201F;
    border-radius: 10px;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
/*это оглавление*/
#div6_h2{
  
}
#div6 h2{
    width: 100%;
}
.div6_d{
    width: 20%;
    height: 65%;
    border: 2px solid #AD00FF; 
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2%;
    -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
}
.div6_d h2{
    color: #bb3aff;
}

       /*div7*/

#div7{
    width: 100%;
    height: 500px;
     background-color:#21201F;
    margin-bottom: 2%;
   display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-around;
    border-radius: 10px;
}
#div7 h2{
   width: 100%;
    margin: 0;
}
#div7 ul{
    margin: 0;
    width: 30%;
}
#div7 li{
  
}
#div71{
  width: 16%;
    height: 66%;
    background-image: url(img/6.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid #AD00FF; 
    border-radius: 10px;
    transition: all 0.4s;
    cursor: pointer;
}
#div71:hover{
    transform: scale(1.05);
    
      -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56); 
    
}
#div72{
  width: 16%;
    height: 66%;
    background-image: url(img/5.jpg);
    background-size: cover;
    background-position: center;  
    border: 2px solid #AD00FF; 
    border-radius: 10px;
   transition: all 0.4s;
    cursor: pointer;
}
#div72:hover{
    transform: scale(1.05);
    
      -webkit-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
-moz-box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56);
box-shadow: 1px 1px 14px 1px rgba(189,  0,  255, 0.56); 
    
}


      /*FOOter*/

footer{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
   
    margin-bottom: 1%;
    padding: 1%;
}
#foot_len{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    
}
#foot_mih{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
#foot_len ul{
    padding: 0;
    list-style: none;
    color: gray;
    font-size: 18px;
}

#foot_mih ul{
    padding: 0;
    text-align: end;
    list-style: none;
    color: gray;
    font-size: 18px;
}
footer li{
    margin-top: 7%;
    transition: all 0.3s;
}
footer a{
 color: gray; 
    position: relative;
    cursor: pointer;
    text-decoration: none;  
    
}
footer a:after{
   content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 1px; /* Высота линии */
    background-color: grey; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */ 
}
footer a:hover:after{
   	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px; /* Высота линии */
    background-color: #AD00FF; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */ 
}
footer li:hover{
    transform: scale(1.1);
}
footer a:hover{
    color: #AD00FF;
}

























